  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


/* 
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* MODULES - Individual site components */
#content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#content a {
  text-decoration: none;
  color: #005588;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #ffa500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
}

#content h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

#content img {
  border: none;
}

#content .py-6 {
  padding: 80px 0;
}

/* tags */

#content .for-rent {
  background-color: #20ceb3;
}

#content .sold-out {
  background-color: #ff0000;
}

#content .for-sale {
  background-color: #06B618;
}

#content .tag-modal {
  color: #fff;
  padding: 13px 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 100%;
}

/*--------------------------------------------------------------
# Animated Hero Section
--------------------------------------------------------------*/
#content .hero-animated {
  width: 100%;
  min-height: 50vh;
  position: relative;
  padding: 120px 0 60px;
  background-color: #005588;
}

#content .hero-animated h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: #fefefe;
}

#content .hero-animated h2 span {
  color: #ffa500;
}

#content .hero-animated p {
  color: rgb(254, 254, 254, 0.6);
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

#content .hero-animated .animated {
  margin-bottom: 60px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 992px) {
  #content .hero-animated .animated {
    max-width: 45%;
  }
}

@media (max-width: 991px) {
  #content .hero-animated .animated {
    max-width: 60%;
  }
}

@media (max-width: 575px) {
  #content .hero-animated .animated {
    max-width: 80%;
  }
}

#content .hero-animated .btn-get-started {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--color-white);
  background: var(--color-primary);
  font-family: var(--font-secondary);
}

#content .hero-animated .btn-get-started:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

#content .hero-animated .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: 600;
}

#content .hero-animated .btn-watch-video i {
  color: var(--color-primary);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

#content .hero-animated .btn-watch-video:hover {
  color: var(--color-primary);
}

#content .hero-animated .btn-watch-video:hover i {
  color: rgba(var(--color-primary-rgb), 0.8);
}

@media (max-width: 640px) {
 #content .hero-animated h2 {
    font-size: 32px;
  }

 #content .hero-animated p {
    font-size: 18px;
    margin-bottom: 30px;
  }

 #content .hero-animated .btn-get-started,
 #content .hero-animated .btn-watch-video {
    font-size: 14px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

#content .breadcrumbs {
  padding: 20px 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#content .breadcrumbs i{
  color: #005588;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content .breadcrumbs i:hover{
  color: #ffa500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content .breadcrumbs ol li a{
  color: #005588;
   -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#content .breadcrumbs ol li a:hover{
  color: #ffa500;
   -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

#content .section-title {
  text-align: center;
  padding-bottom: 80px;
}

#content .section-title h3 {
  font-size: 28px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  color: #000;
  position: relative !important;
}

#content .section-title h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#content .section-title h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #038CE0;
  bottom: 0;
  left: calc(50% - 20px);
}

#content .section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#content .section-title::before {
  display: none !important;
}

#content .section-title::after {
  display: none !important;
}

#content .section-title p {
  margin: 0 auto;
  margin-bottom: 0;
  width: 50%;
}

@media (max-width:992px) {
  #content .section-title p {
    width: 90%;
  }
}

@media (max-width:768px) {
 #content .section-title p {
    width: 100%;
  }
}

/* TÃƒÂ­tulo del mÃ³dulo */

#content .titulo-modulo p {
  font-size: .785rem;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #666;
  font-family: 'Manrope', sans-serif;
}

#content .titulo-modulo p::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ccc;
  margin: 4px 10px;
}

#content .titulo-modulo h2 {
  margin: 0 0 30px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #222;
}

#content .titulo-modulo span {
  font-size: 1.1rem;
}

@media (max-width:500px) {
  #content .titulo-modulo p {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}


/* BotÃ³n para accionar video */

#content .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

#content .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#content .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(25, 119, 204, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#content .play-btn:hover::after {
  border-left: 15px solid #1977cc;
  transform: scale(20);
}

.play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}



/*==================
TARJETA DE PROPIEDADES
====================*/


/* Card imagen */

.vp .card img {
  position: relative;
}

.vp .card .tag {
  color: #fff;
  padding: 6px 10px;
  position: absolute;
  left: 15px;
  top: -15px;
}

/* .vp .card .for-rent {
  background-color: #20ceb3;
}

.vp .card .sold-out {
  background-color: #ff0000;
}

.vp .card .for-sale {
  background-color: #59abe3;
} */

/* Card info */

.vp .card .card-info {
  border-bottom: 1px solid #ddd;
  padding: 10px 8px;
  background-color: #fff;
}

.vp .card .card-info span {
  margin: 0px 5px;
  font-size: .8rem;
}

.vp .card .card-info span i {
  color: #005588;
}

.vp .card .card-info .bullet i.rojo {
  color: #ff0000
}

.vp .card .card-info .bullet i.morado {
  color: purple
}

/* Card body */

.vp .card .card-body {
  padding: 20px 12px;
}

.vp .card .card-body .card-title {
  margin-bottom: 18px;
}

.vp .card .card-body .card-text {
  margin-bottom: 15px;
  font-size: .85rem;
}

/* Card footer */

.vp .card .card-footer {
  background-color: white;
  padding: 12px;

}

.vp .card .card-footer .card-footer-text p:first-child {
  font-size: .6rem;
  font-weight: bold;
  color: rgba(33, 37, 41, 0.75)
}

.vp .card .card-footer .card-footer-text p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  color: rgba(33, 37, 41, 0.95);
}

.vp .card .card-footer .card-footer-btn a {
  font-size: .8rem;
}

.vp .card .card-footer .card-footer-btn .secondary-btn {
  color: #fff;
  padding: 10px;
  background-color: #59abe3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.vp .card .card-footer .card-footer-btn .secondary-btn:hover,
.vp .card .card-footer .card-footer-btn .secondary-btn:focus {
  background-color: #000;
  color: #fff;
}

/*==================
MODAL DETALLES PROPIEDAD
====================*/


.modal.fade .modal-dialog {
  transform: translateX(100%);
  transition: transform .3s ease-out;
}

.modal.fade.show .modal-dialog {
  transform: translateX(0);
}

.linea-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
}

.linea-info p {
  margin: 5px 0;
}

.modal .footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.carousel-indicators [data-bs-target] {
  width: 35px;
  height: 6px;
  background-color: orange;
}

.secondary-btn {
  color: #fff;
  padding: 10px;
  background-color: #59abe3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.secondary-btn:hover {
  background-color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*==================
  BLOG DE NOTICIAS
====================*/

.blog .card {
  border-radius: 0;
}

.blog .card .card-imagen {
  position: relative;
}

.blog .card .card-imagen span {
  color: #fff;
  padding: 5px 25px 5px 10px;
  position: absolute;
  left: 0px;
  top: 15px;
  background-color: #59abe3;
}

.blog .card .card-img-top {
  border-top-right-radius: 0 !important;
}

.blog .card .card-body h5 a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.blog .card .card-body h5 a:hover {
  color: #ffa500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.blog .card .card-body .card-title {
  margin-bottom: 15px;
}

.blog .card .card-body .card-text {
  font-size: 0.9rem;
}

.blog .card .card-footer {
  background-color: white;
  padding: 12px;
}

.blog .card .card-footer .blog-author,
.blog .card .card-footer .blog-comments {
  font-size: 0.9rem;
}

.blog .card .card-footer .blog-comments i,
.blog .card .card-footer .blog-author i {
  color: #005588;
  margin-right: 5px;
}
/* Noticia */

.blog-noticia .blog-detalle img {
    width: 100%;
}

.blog-noticia .blog-detalle h2 {
    margin: 20px 0;
}

.blog-noticia .blog-detalle p.subtitulo {
    font-weight: bold;
    text-transform: uppercase;
}

.blog-noticia .blog-detalle .creditos {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.blog-noticia .blog-detalle .creditos p {
    font-size: .9rem;
    margin-right: 18px;
}

.blog-noticia .blog-detalle .creditos i {
    font-size: .9rem;
    color: #005588;
    margin-right: 5px;
}

/*==================
PROPIEDADES DETALLES
====================*/

.propiedad .propiedad-contenido {
  background-color: #fff;
}

.propiedad .propiedad-contenido .propiedad-detalles .propiedad-info h2 {
  font-size: 1.5rem;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.propiedad .propiedad-contenido .propiedad-detalles .propiedad-info p {
  font-size: 1rem;
}

.propiedad .propiedad-contenido .propiedad-detalles .propiedad-video{
  margin-top: 40px;
}

.propiedad .propiedad-contenido .propiedad-detalles .propiedad-info h4 {
  position: relative;
  display: inline-block;
}

.propiedad .propiedad-contenido .propiedad-detalles .propiedad-info h4::after {
  content: '';
  background-color: #ddd;
  left: 0px;
  top: 30px;
  position: absolute;
  width: 100%;
  height: 1px;
}

/* Sidebar */

.propiedad .propiedad-sidebar {
  background-color: #fefefe;
}

.propiedad .propiedad-sidebar span {
  background-color: #59abe3;
  display: block;
  padding: 20px;
}

.propiedad .propiedad-sidebar span.precio {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 40px;
}

.propiedad .propiedad-sidebar h4 {
  position: relative;
  display: inline-block;
}

.propiedad .propiedad-sidebar h4::after {
  content: '';
  background-color: #ddd;
  left: 0px;
  top: 30px;
  position: absolute;
  width: 100%;
  height: 1px;
}

.propiedad .propiedad-sidebar ul {
  margin-left: 5px;
}
.propiedad .propiedad-sidebar ul li {
  margin-bottom: 5px;
}
.propiedad .propiedad-sidebar ul li:before {
  content: '\f046';
  font-family: fontAwesome;
  left: 0;
  top: 0;
  margin-right: 15px;
  color: #59abe3;
}

.propiedad .propiedad-sidebar .propiedad-ubicacion {
  margin-top: 15px;
}

/* Redes sociales */

.propiedad-social {
  display: inline;
  float: left;
  width: 100%;
  padding-top: 20px;
}
.propiedad-social ul {
  display: inline;
}
.propiedad-social ul li {
  display: inline;
}
.propiedad-social ul li:first-child {
  float: left;
  font-weight: bold;
  line-height: 31px;
  margin-right: 10px;
  text-transform: uppercase;
}
.propiedad-social ul li a {
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.propiedad-social ul li a:hover{
  color: #59abe3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


/*==================
EFECTO ZOOMABLE A IMAGENES
====================*/

.card-imagen {
  display: relative;
  overflow: hidden;
}

.zoomable {
  transition: transform .6s;

  display: absolute;
}

.zoomable:hover {
  transform: scale(1.3);
}