nav1{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
  }
  
  .nav-links1 i{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .nav-links1{
    flex: 1;
    text-align: left;
  }
  
  .nav-links1 ul li{
    list-style:   none;
    display: inline-block;
    padding: 5px 55px;
    position: relative;
  }
  
  .nav-links1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px
  }
  
  .nav-links1 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #48a7ff;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links1 ul li:hover::after{
    width: 100%;
    }
    
    .nav-links1 ul li:hover .dropdown {
      display: block;
  }
  
  .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 260px;
      
  }
  
  .dropdown li {
      display: block;
      padding: 10px;
      
  }
  
  .dropdown li a {
      display: block;
      padding: 10px 20px;
      color: #fff;
      text-decoration: none;      
  }
  
  .dropdown li a:hover {
      background-color: #575757;      
  }

  .extra-info {
    color: #fff;
    font-size: 20px;
    padding: 9px 25px;
    background: none;
    box-shadow: none; 
}