body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;    
}

header {
    background-color: #1136a0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    text-align: left;
}

header .logo img {
    width: 170px;
    height: 50px;
    margin-right: 5px;
}

header .logo span {
    color: rgb(233,229,189);
    font-size: 24px;
    font-weight: bold;
}

.logo{
    margin-left: 50%;
}

.breadcrumbs {
    margin: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #1136a0;
}

.breadcrumbs span {
    color: #000;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.sort-by {
    display: flex;
    align-items: center;
}

.sort-by label {
    margin-right: 10px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin: 20px;
    
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    width: 100%; /* Ensure it spans the full width of the grid column */
    height: 70%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */    
}

.product-card img {
    width: 90%;
    height: 56%; /* Adjust the height */
    object-fit: fill; /* Cover the space while preserving the aspect ratio */
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.product-card h2 {
    margin: 10px 0;
}

.product-card .rating {
    color: #ffa500;
    margin: 10px 0;
}

.product-card .price {
    color: #000;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination button {
    padding: 10px 20px;
    background-color: #1136a0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
}

.footer-links a {
    color: #1136a0;
    text-decoration: none;
    margin-left: 20px;
}

.footer-links a:hover {
    text-decoration: underline;
}
